.b{
    height: 100vh;
    /* background-color: yellow; */
    padding: 0px;
    width: 100%;
    margin: 0px;
}
.b-body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Body/edc_group.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.heading{

    width: 100%;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 900;
    padding: 20px 50px;
    margin-bottom: 30px;
}

.h1{
   
    text-align: center;
    color: white;
    text-transform: uppercase;
}
.button{
    padding: 6px 20px;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    border: 1px white solid;
}
.btn :hover {
    background-color: whitesmoke;
    backdrop-filter: blur(100px);
    color: black;
}
@media screen and (max-width:500px) {
    .heading{   
         margin-top: 40px;
        font-size: 1em;
      /* background-color: red; */
            height: auto;
            width: auto; 
            padding: 10px;
           margin-bottom: 0px;
    }
    .h1{
        width: auto;
        height: auto;

    }
    .button{
        font-size: 1em;
       
    }
    .b{
        height: 90vh;
        width: 100%;
        /* background-color: red; */
        margin: 0px;
        padding: 0px; 
       
    }
    .b-body{ 
        height: 80vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 70vh 80vh;
         margin: 0px;
         padding: 0px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }
    .btn{
        /* background-color: green; */
          margin-top: 20px;
    }
    
}
.blob1 {
    position: absolute;
    width: 16rem; /* w-64 corresponds to 16rem */
    z-index: -30; /* -z-30 corresponds to z-index: -30 */
    left: 0;
    margin-top: 3rem; /* mt-[3rem] corresponds to margin-top: 3rem */
  }
.blob2 {
    position: absolute;
    width: 16rem; /* w-64 corresponds to 16rem */
    z-index: -30; /* -z-30 corresponds to z-index: -30 */
    left: 0;
    top: 165rem; /* top-[165rem] corresponds to top: 165rem */
  }
.blob3 {
    position: absolute;
    width: 16rem; /* w-64 corresponds to 16rem */
    z-index: -30; /* -z-30 corresponds to z-index: -30 */
    right: 0;
    margin-top: 170rem; /* mt-[170rem] corresponds to margin-top: 170rem */
  }
.blob4 {
    position: absolute;
    width: 16rem; /* w-64 corresponds to 16rem */
    z-index: -30; /* -z-30 corresponds to z-index: -30 */
    left: 0;
    top: 341rem; /* top-[341rem] corresponds to top: 341rem */
  }
.blob5 {
    position: absolute;
    width: 10rem; /* w-40 corresponds to 10rem */
    z-index: -30; /* -z-30 corresponds to z-index: -30 */
    right: 0;
    margin-top: 339rem; /* mt-[339rem] corresponds to margin-top: 339rem */
  }
.blob6 {
    position: absolute;
    width: 16rem; /* w-64 corresponds to 16rem */
    z-index: -30; /* -z-30 corresponds to z-index: -30 */
    right: 0;
    top: 90rem; /* top-[50rem] corresponds to top: 50rem */
  }
  
  @media screen and (max-width:750px) {
    .blob1 {
        position: absolute;
        width: 12rem;
        height: auto;
        margin-top: 30px;
        z-index: -30;
        left: 0;
    }
    .blob2 {
        position: absolute;
        width: 12rem;
        height: auto;
        top: 2900px;
        z-index: -30;
        left: 0;
    }
    .blob3 {
        position: absolute;
        width: 10rem;
        height: auto;
        top: 1630px;
        z-index: -30;
        right: 0;
    }
    .blob4 {
        position: absolute;
        width: 10rem;
        height: auto;
        top: 6341px;
        z-index: -30;
    }
    .blob5 {
        position: absolute;
        width: 8rem;
        height: auto;
        top: 1600px;
        z-index: -30;

    }
    .blob6 {
        position: absolute;
        width: 10rem;
        height: auto;
        top: 1400px;
        z-index: -30;

    }
  
  }