@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.image{
    height: 45rem;
    width:100%;
    object-fit: cover;
    

}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("../../assets/edcHome.jpg") no-repeat center center; 
    background-size: contain;
    text-align: center;
     /* Full viewport width */
    height: 85vh; /* Use vh for viewport height */
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* header */





.text{
    line-height: 1.2;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
    font-size: 290%;
    font-weight: 500;
    color: #ffffff
}

.btn{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #ffffff;
    border: solid;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.11);
    
}

.break {
    display: block;
  }

.temp{
  /* about us card */

/* Vector */

position: absolute;
width: 100vw;
height: 792.21px;
transform: scale(0.75);
transform-origin: left;
background: url("../../assets/Vector.svg");
transform: rotate(90+77.42deg);
position: absolute;
left: 0;
top: 50rem;
background-repeat: no-repeat;
opacity: 0.75;
z-index: -9;

}