.section__padding {
    padding: 4rem 4rem 0 4rem; 
}

.footer{
    background-color: black;
    width: 100vw;
}

.sb__footer{
    display: flex;
    flex-direction: column;
}

.sb__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb__footer-links_div{
    width: 150px;
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}
.sb__footer-links_edc{
    width: 250px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}


a{
    color:antiquewhite;
    text-decoration: none;
}

.socialmedia{
    display: flex;
    flex-direction: row;
}

.socialmedia img{
    width: 80%;
}

.facebookIcon, .instagramIcon, .linkedinIcon {
    font-size: 30px;
    margin-right: 10px; 
}

.sb__footer-links_div h3{
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    color: white;
    font-weight: 600;
}

.sb__footer-links_edc h3{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb__footer-links_div p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
    color: rgb(182, 182, 182) ;
}

.sb__footer-links_edc p{
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
    color: rgb(182, 182, 182);
}

.sb__footer-links_edc_upper{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.sb__footer-links_edc_upper h4{
    font-size: large;
    margin:5px 5px;
    text-align: left;
}

.para{
    margin:1rem 0;
}


.sb__footer-below{
    /* margin-left: 25rem;
    margin-right: 25rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sb__footer-below-links p{
    font-size:13px;
    line-height:15px;
    margin-left: 2rem;
    color:white;
    font-weight:600;
}

hr{
    color:white !important;
    width: 100%;
}

.sb__footer-copyright p{
  font-size: 13px;
  line-height: 15px;
  color:rgb(255, 255, 255);
  font-weight: 600;
}

@media screen and (max-width: 850px) {
    .sb__footer-heading h1{
        font-size: 44px;
        line-height:50px;
    }
}

@media screen and (max-width: 550px) {
    .sb__footer-heading h1{
        font-size: 34px;
        line-height:42px;
    }

    .sb__footer-links_div{
        margin: 1rem 0;
    }

    .sb__footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }

    .sb__footer-below{
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .sb__footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}