@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glass-morphic {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .animate-scroll {
      animation: scroll 20s linear infinite;
    }
  
    @keyframes scroll {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }