@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glass-morphic {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .animate-scroll1 {
      animation: scroll1 10s linear infinite;
    }
    .animate-scroll2 {
      animation: scroll2 10s linear infinite;
    }
  
    @keyframes scroll1 {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }

    @keyframes scroll2 {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }

  }