@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .glass-morphic {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .about-morphic {
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.372);
      box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    }
    .about_us1 {
      @media only screen and (max-width: 350px) {

        position: relative;
        height: 100vh;
        /* background-color: aqua; */
       
      }
      
    }

    .about_us2 {
      @media only screen and (max-width: 350px) {
        display: flex;
        flex-direction: column;
        /* background-color: rebeccapurple; */
        width: 100%;
        height: auto;
        position: relative;
  
      
      }
      .media1 {
        @media only screen and (max-width: 350px) {
          width: 100%;
          /* background-color: yellow; */
           margin-bottom: 60px;
        }
     }
     .hero1 {
      @media only screen and (max-width: 350px) {

        position: relative;
        width:auto;
        background-color: aqua;
        display: flex;
        flex-direction: column;
        width: 100vh ;

        padding: 0%;
        margin: 0%;
      }
      
    }
     
  
  }

body{
  overflow-x: hidden;
}
}